@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
	font-family: "Lato", sans-serif;
	font-weight: 300;
}

.chat-input-container {
	height: 100%;
	background: #3f51b5;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
		0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
	width: 100%;
	position: relative;
}

.chat-input-text {
	width: calc(80vw - 32px);
	border: 0;
	resize: none;
	border: none;
	overflow: hidden;
	outline: 0;
	box-shadow: none;
	font-size: 14px;
	color: #000;
	padding: 8px 10px;
	background: #fff;
	box-sizing: border-box;
	border-radius: 18px;
	height: 35px;
	margin: auto 16px;
	position: absolute;
	top: 0;
	bottom: 0;
}

.chat-input-text::-webkit-input-placeholder {
	color: inherit;
}

.chat-input-text::-moz-placeholder {
	color: inherit;
}

.chat-input-text::-ms-input-placeholder {
	color: inherit;
}

.chat-input-submit {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	float: right;
	outline: 0;
	padding: 0;
	margin: auto 3vw auto 0;
	border-radius: 50%;
	border: 0;
	background: #3f51b5;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
		0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
	height: 40px;
	width: 40px;
	transition: all 0.2s ease-in-out;

	&:focus {
		outline: none;
	}

	&:hover {
		cursor: pointer;
	}

	&:active {
		transform: scale(0.9);
	}

	img {
		right: 0;
		top: 0;
		bottom: 0;
		left: 0;
		width: 24px;
		margin: auto;
		transform: translate(3px);
	}
}
